.about-section {
    background: linear-gradient(to right, aliceblue, #dae1e2);
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    top: -48px;
    overflow: hidden;
    margin-bottom: -96px !important;
}

.about-paragraph {
    font-family: monospace;
    font-size: 1.0rem;
    line-height: 2rem;
    font-weight: bolder;
    color: black;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

@media (max-width:768px) {
    .about-paragraph {
        width: 96vw;
    }
}

@media (min-width: 768px) {
    .about-section .row {
        display: flex;
        align-items: center;
    }
}

.image-grid {
    position: relative;
    width: 300px;
    height: 300px;
}

.grid-square {
    position: absolute;
    border: 3px solid darkgray;
    background-image: url('https://images.unsplash.com/photo-1606787366850-de6330128bfc');
    background-size: 600px 600px;
    /* Ensures the image covers all squares without replication */
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
}

.grid-square-1 {
    top: 0;
    left: 0;
    background-position: top left;
}

.grid-square-2 {
    top: 25%;
    left: 25%;
    background-position: top right;
}

.grid-square-3 {
    top: 50%;
    left: 50%;
    background-position: bottom left;
}

.grid-square-4 {
    top: 75%;
    left: 75%;
    background-position: bottom right;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.about-section::before {
    content: '';
    position: absolute;
    top: -50px;
    right: -50px;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: pulsate 6s ease-in-out infinite;
    z-index: 1;
}

@keyframes pulsate {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

.flickity-page-dots {
    background: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STACK */
.what-I {
    position: relative;
    z-index: 2;
    background: white;
    width: 99vw;
    margin-bottom: 0px !important;
}

.stack {
    /* background: linear-gradient(to right, #2c3e50, #4ca1af); */
    background: white;
    border-radius: 20px;
    padding: 25px;
    color: #010323;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

@media (min-width:768px) {
    .stack {
        width: 80vw;
        left: 10vw;
    }
}

@media (max-width:768px) {
    .stack .row {
        width: 115%;
        left: -15px;
        position: relative;
    }
}

.accordion-button {
    color: #010323;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 30px;
    background: aliceblue;
    font-family: monospace;
    border-radius: 10px;
    border: 1px solid darkblue;
    height: 50px;
}

.accordion-button:not(.collapsed) {
    background-color: cornflowerblue;
    color: #fff;
}

.accordion-icon {
    position: absolute;
    right: 20px;
    font-size: 1.5rem;
    margin-left: auto;
    transition: transform 0.3s ease;
}

.accordion-title {
    margin-right: auto;
    /* Pushes the icon to the right */
    font-size: 20px;
}


.accordion-button.collapsed .accordion-icon {
    transform: rotate(0deg);
}

.accordion-button:not(.collapsed) .accordion-icon {
    transform: rotate(45deg);
}

.accordion-body {
    background-color: #b0b9c226;
    border-radius: 10px;
    padding: 20px;
    color: black;
    font-size: 1.2rem;
    animation: fadeIn 0.5s ease-in-out;
    margin-bottom: 10px;
    font-family: quicksand;
}

.what-title {
    font-size: 15px;
    font-family: monospace;
    margin-bottom: 0;
    color: darkblue;

}

.what-p {
    font-family: monospace;
    font-size: 1.0rem;
    line-height: 2rem;
    font-weight: bolder;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tools {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.tools span {
    margin-right: 30px;
}

.tool-logo {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    margin-bottom: 15px;
}

p {
    font-size: 1.2rem;
    line-height: 1.8;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        align-items: center;
    }
}

.stack .about-section::before {
    content: '';
    position: absolute;
    top: -50px;
    right: -50px;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: pulsate 6s ease-in-out infinite;
    z-index: 1;
}

@keyframes pulsate {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

.accordion-collapse {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.accordion-collapse.show {
    display: block;
    opacity: 1;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* PROJECTS  */
.fancy-title {
    font-size: 2.5em;
    color: darkblue;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    position: relative;
}

.fancy-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #3498db;
    margin: 10px auto 0;
    border-radius: 2px;
}

.flickity-viewport {
    border-radius: 10px;
}

.flickity-page-dots .dot {
    background: cornflowerblue !important;
}

.carousel-cell {
    width: 80vw;
    height: 500px;
    /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 1.5s ease-in-out;
    left: -92px !important;
    margin-right: 20px;
}

@media (max-width:768px) {
    .carousel-cell {
        width: 94vw !important;
        left: -39px !important;
        margin-right: 10px !important;
    }
}

.carousel-content {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: cornflowerblue;
    display: flex;
    font-size: 20px;
    font-family: monospace;
    width: 60vw;
    height: fit-content;
    bottom: 0;
    justify-content: space-between;
    position: absolute;
    flex-direction: column;
    align-items: center;
}

.carousel-content a {
    font-family: monospace;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bolder;
}

.carousel .stack-logos {
    margin-top: 15px;
    display: flex;
}

.carousel .stack-logos img {
    width: 40px;
    height: 40px;
    /* Adjust size as needed */
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.carousel .stack-logos img:hover {
    transform: scale(1.1);
}

/* For small screens, use one static background image */
@media only screen and (max-width: 768px) {

    #cell0,
    #cell1,
    #cell2,
    #cell3 {
        background-size: cover;
        background-position: center;
        /* Disable transition effects on small screens */
        transition: none;
    }

    #cell0 {
        background-image: linear-gradient(#00008b21, #000000), url(/assets/img/AM.png);
    }

    #cell1 {
        background-image: linear-gradient(#00008b21, #000000), url('https://images.unsplash.com/photo-1606787366850-de6330128bfc');
    }

    #cell2 {
        background-image: linear-gradient(#00008b21, #000000), url("/assets/img/green1.png");
    }

    #cell3 {
        background-image: linear-gradient(#00008b21, #000000), url("/assets/img/prof1.png");
    }
}

.clickable-link {
    position: relative;
    border: 1px solid orange;
    text-decoration: none;
    padding: 10px;
    color: wheat;
}

.clickable-link::after {
    content: "\f0a6";
    /* Unicode for a hand pointer icon from FontAwesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 80px;
    color: orange;
    top: 80%;
    transform: translateY(-50%);
    font-size: 28px;
    opacity: 0;
    animation: pulsate 5s infinite;
    /* Icon appears and disappears every 3 seconds */
}

/* Pulsating effect */
@keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale(1) translateY(-50%);
    }

    50% {
        opacity: 1;
        transform: scale(1.2) translateY(-50%);
    }

    100% {
        opacity: 0;
        transform: scale(1) translateY(-50%);
    }
}

.carousel .fade-left {
    animation: fadeLeft 1.5s ease-in-out forwards;
}

.carousel .fade-right {
    animation: fadeRight 1.5s ease-in-out forwards;
}

@keyframes fadeLeft {
    from {
        background-position: 100% 50%;
    }

    to {
        background-position: 0% 50%;
    }
}

@keyframes fadeRight {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}


/* Schedule time */
.Schedule {
    background: radial-gradient(circle, #01010ef5 0% -2%, #050720c7 31%, #010323 60%);
    color: white;
    height: 100vh;
    z-index: 1;
    top: 50vh;
    transform: translateY(-50%);
    font-family: monospace;
}

.Schedule .mb-5 {
    margin-bottom: 1rem !important;
}

.arrow-circle {
    background-color: #3f5efb;
    /* Blue background */
    border-radius: 50%;
    /* Makes the span a circle */
    width: 30px;
    /* Adjust size as needed */
    height: 30px;
    /* Adjust size as needed */
}

.arrow-circle i {
    color: black;
    /* Black arrow */
    font-size: 16px;
    /* Adjust arrow size as needed */
}