.about-section {
       background: linear-gradient(to right, aliceblue, #232829);
    border-radius: 20px;
    padding: 40px;
    position: relative;
    overflow: hidden;
}

.about-paragraph {
    font-size: 1.3rem;
    color: #ffffff;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

@media (min-width: 768px) {
    .about-section .row {
        display: flex;
        align-items: center;
    }
}

.image-grid {
    position: relative;
    width: 300px;
    height: 300px;
}

.grid-square {
    position: absolute;
    border: 3px solid transparent;
    background-image: url('img/'); /* Replace with your image URL */
    background-size: 600px 600px; /* Ensures the image covers all squares without replication */
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
}

.grid-square-1 {
    top: 0;
    left: 0;
    background-position: top left;
}

.grid-square-2 {
    top: 25%;
    left: 25%;
    background-position: top right;
}

.grid-square-3 {
    top: 50%;
    left: 50%;
    background-position: bottom left;
}

.grid-square-4 {
    top: 75%;
    left: 75%;
    background-position: bottom right;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.about-section::before {
    content: '';
    position: absolute;
    top: -50px;
    right: -50px;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: pulsate 6s ease-in-out infinite;
    z-index: 1;
}

@keyframes pulsate {
    0%, 100% { transform: scale(1); opacity: 0.5; }
    50% { transform: scale(1.2); opacity: 0.8; }
}
